.pro_detail{width:33.33%;padding:0 15px;margin-bottom: 30px;}
.p-price{color: #b38741;font-weight:900;font-size: 22px;margin: 16px 0;}
.pro_text{padding: 15px 0;}
.pro_img img{height:330px;object-fit: cover;}